In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw/insurance.csv")

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   18  female  33.820         0     no  southeast   1630.66170
1   19  female  23.480         1     no  southeast   1836.80430
2   46    male  30.570         2     no  southeast   6632.35130
3   54    male  32.050         1    yes  southeast  31922.42950
4   21    male  21.345         4     no  northeast   1638.37255